
@{
    ViewBag.Title = "Hỏi Đáp";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<div id="hoidap_body">
    <div id="hoidap">
        <br />

        <h1 class="gochoidap">GÓC HỎI ĐÁP</h1>
        <div class="hoidap_1">
            <div class="cauhoi">
                <h2>Làm sao để trở thành khách hàng thân thiết?</h2>
            </div>
            <div class="traloi">
                <p>
                    Để trở thành khách hàng thân thiết, bạn chỉ cần đăng ký thẻ tích điểm miễn phí và tiêu dùng trong cửa hàng.
                    Điểm tích lũy càng cao càng được nhiều ưu đãi.
                </p>
            </div>
        </div>
        <br />

        <div class="hoidap_1">
            <div class="cauhoi">
                <h2>Thời gian giao hàng mất khoảng bao lâu?</h2>
            </div>
            <div class="traloi">
                <p>
                    Thời gian giao hàng tùy vào số lượng sản phẩm và kích thước của sản phẩm. Trung bình tầm 1 tiếng đồng hồ.
                </p>
            </div>
        </div>
        <br />

        <div class="hoidap_1">
            <div class="cauhoi">
                <h2>Chất lượng sản phẩm như thế nào?</h2>
            </div>
            <div class="traloi">
                <p>
                    Chất lượng sản phẩm thuộc hạng tốt nhất và uy tính nhất, luôn có nguồn gốc rõ ràng, an toàn và bảo vệ người sử dụng.
                </p>
            </div>
        </div>
        <br />

    </div>
</div>


<link rel="stylesheet" href="~/Content/Mine/hoidap.css">