
@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<div id="khachhang">
    <h1 style="text-align:center; color: blueviolet">Chương trình khách hàng thân thiết?</h1>
    <br />
    <br />
    <div class="dky">
        <h2>Đăng kí miễn phí tại đây: </h2>
        <img class="imgdky" src="~/Content/Images/Logo/Logo_2.gif" />
    </div>
    <div class="diem">
        <h2>Tích điểm càng nhiều - Ưu đãi càng lớn</h2>
        <ul>
            <li> Khách hàng BẠC: 1.000 điểm mua hàng</li>
            <li> Khách hàng VÀNG: 2.000 điểm mua hàng</li>
            <li> Khách hàng BẠCH KIM: 5.000 điểm mua hàng</li>
        </ul>
        <p> Khách hàng không đáp ứng đủ điều kiện điểm mua hàng mỗi năm sẽ bị giảm xuống cấp liền kề. Việc xét duyệt sẽ được thực hiện vào đầu mỗi năm </p>
    </div>
    <div class="quydinh">
        <h2> 1. Điều kiện duy trì cấp độ thẻ với những khách hàng có cấp độ thẻ Bạc, Vàng, Bạch kim trong năm 2020:</h2>
        <ul>
            <li>
                <p>
                    Khách hàng Bạc (đạt cấp độ trước 01/01/2020) muốn duy trì cấp độ thẻ Bạc cần tích lũy ít nhất 1.000 Điểm mua hàng
                    trong thời gian từ 01/01/2020 đến hết ngày 31/12/2021.
                </p>
            </li>
            <li>
                <p>
                    Khách hàng Vàng (đạt cấp độ trước 01/01/2020) muốn duy trì cấp độ thẻ Vàng cần tích lũy ít nhất 2.000 Điểm mua hàng
                    trong thời gian từ 01/01/2020 đến hết ngày 31/12/2021.
                </p>
            </li>
            <li>
                <p>
                    Khách hàng Bạch kim (đạt cấp độ trước 01/01/2020) muốn duy trì cấp độ thẻ Bạch kim cần tích lũy ít nhất 5.000 Điểm mua hàng
                    trong thời gian từ 01/01/2020 đến hết ngày 31/12/2021
                </p>
            </li>
        </ul>
        <h2>2. Điều kiện duy trì cấp độ thẻ với những khách hàng có cấp độ thẻ Bạc, Vàng, Bạch kim trong năm 2021: </h2>
        <ul>
            <li>
                <p>
                    Khách hàng Bạc (đạt cấp độ trước 01/01/2021) muốn duy trì cấp độ thẻ Bạc cần tích lũy ít nhất 1.000 Điểm mua hàng
                    trong thời gian từ 01/01/2021 đến hết ngày 31/12/2021.
                </p>
            </li>
            <li>
                <p>
                    Khách hàng Vàng (đạt cấp độ trước 01/01/2021) muốn duy trì cấp độ thẻ Vàng cần tích lũy ít nhất 2.000 Điểm mua hàng
                    trong thời gian từ 01/01/2021 đến hết ngày 31/12/2021.
                </p>
            </li>
            <li>
                <p>
                    Khách hàng Bạch kim (đạt cấp độ trước 01/01/2021) muốn duy trì cấp độ thẻ Bạch kim cần tích lũy ít nhất 5.000 Điểm mua hàng
                    trong thời gian từ 01/01/2021 đến hết ngày 31/12/2021.
                </p>
            </li>
        </ul>
        <h2>Thời điểm thực hiện hạ cấp độ:</h2>
        <ul>
            <li><p>Khách hàng sẽ hạ xuống cấp độ liền kề trước đó vào ngày 01/01/2022 cho cả 2 nhóm đối tượng khách hàng không đáp ứng đủ điều kiện quy định ở mục 1 và 2.</p></li>
        </ul>
        <h3>QUY ĐỊNH:</h3>
        <ul>
            <li><p>Thẻ chỉ được cấp cho công dân Việt Nam có CMND, người nước ngoài có Passport hoặc tổ chức/ doanh nghiệp. Mỗi khách hàng chỉ sở hữu một (01) mã số thẻ.</p></li>
            <li>
                <p>
                    Chương trình chỉ tính điểm khi khách hàng xuất trình thẻ lúc thanh toán. Chỉ chấp nhận thẻ do PINKY STORE phát hành.
                    Trong trường hợp khách hàng quên mang theo thẻ thì vui lòng trước khi mua hàng đến máy truy cập thông tin để in mã vạch dùng tạm thay thẻ trên
                </p>
            </li>
            <li><p>Khách hàng vui lòng xuất trình thẻ khi nhận quyền lợi hoặc thẻ và CMND/ Passport khi thực hiện thủ tục hồ sơ. Trường hợp khách hàng là tổ chức/ doanh nghiệp, cá nhân đại diện phải xuất trình giấy giới thiệu.</p></li>
            <li><p>Phần tiền thanh toán bằng chiết khấu thương mại sẽ không được tính điểm cũng như không được dùng để tham gia chương trình khuyến mãi khác.</p></li>
            <li><p>Điểm và thông tin hồ sơ khách hàng được cập nhật chính xác sau khi phát sinh giao dịch 24 giờ.</p></li>
            <li><p>Điểm có giá trị để xét cấp độ và quyền lợi cho một (01) năm (từ 01/01 đến 31/12). Sang năm tiếp theo thẻ được tái sử dụng để tích điểm.</p></li>
            <li><p>Thẻ là tài sản của PINKY STORE cấp cho khách hàng. Trường hợp mất thẻ, vui lòng liên hệ quầy dịch vụ tại PINKY STORE đăng ký sinh hoạt để làm thủ tục cấp lại thẻ với chi phí 10.000/ thẻ nhựa, thẻ Bạch Kim được in lại miễn phí 10 lần/ năm.</p></li>
            <li><p>Thẻ không phát sinh doanh số trong một (01) năm sẽ bị khoá và loại khỏi chương trình.</p></li>
            <li><p>PINKY STORE không chịu trách nhiệm giải quyết các quyền lợi của khách hàng nếu thông tin hồ sơ do khách hàng cung cấp không đầy đủ và chính xác hoặc nếu quá thời hạn nhận quyền lợi theo quy định tại thể lệ chương trình.</p></li>
            <li><p>PINKY STORE được quyền chấm dứt việc sử dụng thẻ của khách hàng khi đã giải quyết xong các quyền lợi liên quan đến điểm tích luỹ của khách hàng. Nếu phát hiện xảy ra tiêu cực trong việc sử dụng thẻ PINKY STORE có quyền ngưng việc sử dụng cũng như thu hồi thẻ của Khách hàng.</p></li>
            <li><p>Thể lệ chương trình có thể được thay đổi không cần báo trước.</p></li>
            <li><p>Mọi thắc mắc vui lòng liên hệ quầy Dịch Vụ tại siêu thị hoặc qua Đường Dây Nóng: 1900. 1900 </p></li>
            <li>
                <p>
                    Bằng việc ký vào phiếu thông tin này, quý khách hàng đã đồng ý cho siêu thị được phép sử dụng những thông tin được cung cấp trên phiếu này cũng như mọi thông tin phát sinh trong quá trình Quý khách hàng tích luỹ và sử dụng điểm.
                    Siêu thị cam kết giữ bí mật những thông tin trên.
                </p>
            </li>
        </ul>
    </div>


</div>

<link rel="stylesheet" href="~/Content/Mine/khachhang.css">