
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<div>
    <h1 style="text-align:center; color: blueviolet">THÔNG TIN LIÊN HỆ</h1>
    <p>
        Ba mẹ anh từng nói yêu ai phải yêu xứng đôi vừa lứa
        Hình như không ai dạy em nên em còn non em chưa học qua
        Cách chọn
        Đúng người
        Chàng trai đi cùng đang ăn cây kem thật lòng không xứng với em
        Em nhìn anh rồi xem ai đi với ai xứng đôi vừa lứa?
        Người xinh như em mà ngây ngô ghê rồi sau người ta lại nói
        Phí đời!
        "Phí quá chời luôn á!"
        Hình như em cần vitamin a để cho mình sáng mắt ra
        Đừng theo người đó em ơi em à
        Đừng gây thù oán đau lòng mẹ cha
        Chẳng hiểu em cứ níu kéo vô vọng làm chi
        Vì sớm hay muộn rồi thì anh ấy cũng đi
        Thời gian thấm thoát thoi đưa
        Thể nào anh cũng sẽ lừa được em
        Chàng trai đang sánh bước bên em
        Đằng nào rồi cũng sẽ thuộc về anh
        Oh-oh-oh-ohh-h...
        Chàng trai đang sánh bước bên em
        Đằng nào rồi cũng sẽ thuộc về anh
        Em nhìn em rồi xem em sai một…
    </p>
</div>


