
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}


    <h1 style="text-align:center; color: blueviolet">THÔNG TIN LIÊN HỆ</h1>
<div class="a" style="margin-left: 5%">
    <h2>Tổng đài: 1900.1900 (7:00 - 21:00)</h2>
    <h2>Email: pkst@hmail.com</h2>
    <h2>Cam kết giao hàng chất lượng, uy tín và đúng giờ</h2>
    <h2>Hoàn lại gấp đôi nếu phát hiện sai sót</h2>
    <h3>Xin cảm ơn!</h3>
    
</div>


<style>
    .a h2 {
        color: #b31212;
        font-size: 20px;
        margin-left: 50px;
        padding-top: 10px;
    }

    .a h3 {
        font-size: 20px;
        margin-top: 10px;
        margin-left: 50px;
    }

    .a {
        background-color: #ffe2e2;
        width: 88%;
        height: 232px;
    }
</style>