@model IEnumerable<BHX_2.Models.Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<h2>Search</h2>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <img class="imgrau" src="/@item.UrlImage" />
                <h3> @item.ProductName</h3>
                <h2>@item.Price đồng</h2>
                <h4 class="giohang">   <i class="fas fa-shopping-cart"></i>
                     @Html.ActionLink("AddtoCart", "Cart", new { ProductID = item.ProductID})                
                </h4>
            </li>
        }
    </ul>
</div>