
@{
    ViewBag.Title = "ThongTin";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<div>
    <h1 style="text-align:center; color: blueviolet">THÔNG TIN CỦA CHÚNG TÔI</h1>
    <h2 style="text-align:center; color: darkblue">ĐÂY LÀ NHÀ CỦA T NHA :))</h2>
    <p>
        Xe chốt và pháo là những thứ mà em tao xâm mình
        Xe tốt, quần áo là những mà tao bao năm rình
        Phường khóm công an là nơi tao đang đăng hình
        Hẻm 48 ngay từ xưa đã không là yên bình
        Sáng ngày hôm qua cũng giống như sáng của ngày hôm nay
        Việc tao làm cũng như mọi ngày, thằng Karik đã thấy
        Back to my hood, tao làm việc của tao
        Khi tất cả trở thành vấn đề tao để dao làm việc của tao
        Tao không gây hấn, nhưng hễ ai đụng là đập
        Và hàng nguội nằm trong túi, làm cho quần thụng và thấp
        Anh em khi gặp tao cầm bia cụng bay nắp
        Còn tụi mày khi gặp tao vào 48 tao chấp.
        Trong khu tao sống khi mày thích tao cứ ok, nay robinhoot đến gây sự đưa mày vô hàng
        Ghét tao ko khôn ngoan, nhà mày ko an toàn
        Bia cùng với rượu như Khanh Nhỏ anh em tao ngang hàng
        Đây là Tân Bình hẻm 68,…
    </p>
</div>

