
@{
    ViewBag.Title = "Thông Tin";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<div>
    <h1 style="text-align:center; color: blueviolet">THÔNG TIN CỦA CHÚNG TÔI</h1>
    <h2 style="text-align:center"><img style="width: 15%;height: 15%;" src="/Content/Images/Logo/Logo_2.gif"></h2>
    <p style="font-size: 20px;margin-left: 50px;">
        PINKY STORE là nơi cung cấp các mặt hàng sản phẩm chất lượng và uy tín trên cả nước và nước ngoài.
        PINKY STORE rất hân hạnh được phục vụ quý khách
    </p>
</div>

