
@{
    ViewBag.Title = "ChangeInfo";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<form class="form-login" action="ChangeInfo" method="get">
    <div class="loginbox">
        <h2>
            Đổi thông tin
        </h2>
        <div>
            <div class="div-title">
                Tên:
            </div>
            <div>
                <input class="input1" type="text" name="name" placeholder="Nguyễn Văn B"/>
            </div>
            <div class="div-title">
                Ngày sinh:
            </div>
            <div>
                <input class="input1" type="date" name="birthday" placeholder="28/02/2000" />
            </div>
            <div class="div-title">
                Số điện thoại:
            </div>
            <div>
                <input class="input1" type="tel" name="phone" placeholder="0909090909" />
            </div>
            <div class="div-title">
                Email:
            </div>
            <div>
                <input class="input1" type="email" name="email" placeholder="pinkystore@gmail.com" />
            </div>
            <div class="div-title">
                Địa chỉ:
            </div>
            <div>
                <input class="input1" type="text" name="address" placeholder="Phường Linh Trung Quận Thủ Đức TPHCM" />
            </div>
            <div class="div-title">
                Xác nhận mật khẩu:
            </div>
            <div>
                <input class="input1" type="password" name="pass" placeholder="Xác nhận mật khẩu" required />
            </div>
            <input class="input-button" type="submit" name="ChangeInfo" value="Cập nhật" />
        </div>
    </div>
</form>

