
<div class="milk_1">
    <ul>
        <li>
            <a href="#"><img class="imgmilk_1" src="~/Content/Images/Milk/milk1.png" /></a>
        </li>
        <li>
            <a href="#"><img class="imgmilk_1" src="~/Content/Images/Milk/milk2.jpg" /></a>
        </li>
        <li>
            <a href="#"><img class="imgmilk_1" src="~/Content/Images/Milk/milk3.jpg" /></a>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="~/Content/Mine/Milk.css">

