
<link rel="stylesheet" href="~/Content/Mine/Product_Milk.css" />
<dv class="p-2_1">
    <ul>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/dutch-lady-.png" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/nestle.jpg" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/vinamilk.png" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/th-true-milk-.png" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/nuvita.png" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/nuti.png" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/dalat-milk.jpg" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/inex.png" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/lothamilk.png" />
        </li>
        <li>
            <img class="milk_name" src="~/Content/Images/Milk/australias.png" />
        </li>
    </ul>

</dv>
