<link rel="stylesheet" href="~/Content/Mine/Milk.css">
@{
    ViewBag.Title = "Sữa các loại";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<div id="milk">
    <div class="milk_1">
        <ul>
            <li>
                <a href="#"><img class="imgmilk_1" src="~/Content/Images/Milk/milk1.png" /></a>
            </li>
            <li>
                <a href="#"><img class="imgmilk_1" src="~/Content/Images/Milk/milk2.jpg" /></a>
            </li>
            <li>
                <a href="#"><img class="imgmilk_1" src="~/Content/Images/Milk/milk3.jpg" /></a>
            </li>
        </ul>
    </div>

    <div class="milk_2">
        <h1>SỮA CÁC LOẠI</h1>
        <ul>
            @Html.Raw(ViewBag.View)

            @*<li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk5.jpg" />
                <h2>Sữa tiệt trùng có đường Nuti</h2>
                <h3>24.000 đồng</h3>
                <h4 class="giohang"><a href="~/Milk/Sua_tuoi_Nuti_co_duong"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk6.jpg" />
                <h2>Sữa tiệt trùng có đường socola Nuti</h2>
                <h3>24.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk7.jpg" />
                <h2>TH True Milk</h2>
                <h3>24.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk8.jpg" />
                <h2>
                    Sữa tươi nhập khẩu Châu Âu
                </h2>
                <h3>28.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>*@
        </ul>
        @*@Html.Partial("Partial_View_1")*@
        <ul>
        </ul>

        @*<ul>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk10.jpg" />
                <h2>Sữa ADM Gold</h2>
                <h3>28.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>    
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk11.jpg" />
                <h2>Sữa tươi Vinamilk dâu</h2>
                <h3>24.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk12.jpg" />
                <h2>Sữa tươi Vinamilk Gold</h2>
                <h3>24.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk13.jpg" />
                <h2>Sữa Inex nhập khẩu Bỉ</h2>
                <h3>24.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/18.jpg" />
                <h2>
                    Sữa Oganic Dutch Lady
                </h2>
                <h3>48.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
        </ul>*@
        @*@Html.Partial("Partial_View_1")*@
        <ul>
        </ul>


        @*<ul>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/20.jpg" />
                <h2>Sữa Dutch Lady Socola</h2>
                <h3>330.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/21.jpg" />
                <h2>Sữa tươi DaLat Milk</h2>
                <h3>370.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/22.jpg" />
                <h2>Sữa tươi Dutch Lady</h2>
                <h3>370.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk15.jpg" />
                <h2>Sữa TH True Milk socola</h2>
                <h3>396.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
            <li>
                <img class="imgmilk_2" src="~/Content/Images/Milk/milk16.jpg" />
                <h2>
                    Sữa TH True Milk dâu
                </h2>
                <h3>396.000 đồng</h3>
                <h4 class="giohang"><a href="#"><i class="fas fa-shopping-cart"></i>Mua</a></h4>
            </li>
        </ul>*@
        @*@Html.Partial("Partial_View_1")*@
        <ul>
        </ul>

    </div>





</div>

