<link rel="stylesheet" href="~/Content/Mine/Product_Milk.css" />
@{
    ViewBag.Title = "Sữa tươi Nuti";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<div id="chitiet">
    <div class="p-1">
        @Html.Partial("Partial_left_milk")
    </div>
    <div class="p-2">
        <img class="pic1" src="~/Content/Images/Milk/milk5.jpg">
        <div class="p-2_1">
            @Html.Partial("Partial_infor_milk")
        </div>

        <div class="p-2_2">
            <h5 class="Infor">Thông tin sản phẩm</h5>
            <p>
                Sữa tiệt trùng Nuti có đường với hương vị thơm ngon, 
                giàu canxi, tăng cường thêm vitamin A, D3, và Kẽm, 
                bổ sung cho chế độ ăn hàng ngày, giúp tăng cường thị lực, 
                cho xương chắc khoẻ và tăng cường sức đề kháng, 
                mang đến cho bạn cơ thể khoẻ mạnh và tinh thần sảng khoái.
            </p>
            <ul class="table_Infor">
                <li>
                    <span>Loại sữa</span>
                    <div>Sữa tiệt trùng có đường</div>
                </li>

                <li>
                    <span>Dung tích</span>
                    <div>220ml</div>
                </li>

                <li>
                    <span>Thành phần</span>
                    <div>Nước, sữa tươi (10%), sữa bột (8,5%), đường tinh luyện (3,8%), chất béo sữa, maltodextrin, chất béo thực vật, chất ổn định,...</div>
                </li>

                <li>
                    <span>Thương hiệu</span>
                    <div>Nuti (Việt Nam)</div>
                </li>

                <li>
                    <span>Sản xuất tại</span>
                    <div>Việt Nam</div>
                </li>

            </ul>
        </div>
    </div>



    <div class="p-3">
        <h1>Sữa tiệt trùng có đường Nuti bịch 220ml</h1>
        <h2>24.000 đồng</h2>
        <div class="sl">
            <h4>Số lượng</h4>
        </div>
        <h3>Xác nhận mua</h3>
        <div class="p-3_1">
            <h4>• Đặt online giao tận nhà ĐÚNG GIỜ</h4>
            <h4>• Đổi trả sản phẩm trong vòng 48 giờ</h4>
        </div>
    </div>

</div>

<div class="camket">
    <div>
        <img class="imgkc" src="~/Content/Images/Logo/clck.png" />
        <h1>Chất lượng cam kết</h1>
    </div>
    <div>
        <img class="imgkc" src="~/Content/Images/Logo/dvvt.png" />
        <h1>Dịch vụ vượt trội</h1>
    </div>
    <div>
        <img class="imgkc" src="~/Content/Images/Logo/ghnc.png" />
        <h1>Giao hàng nhanh chóng</h1>
    </div>
    <div>
        <img class="imgkc" src="~/Content/Images/Logo/spat.png" />
        <h1>Sản phẩm an toàn</h1>
    </div>
</div>
