<link rel="stylesheet" href="~/Content/Mine/Product_Milk.css" />
@{
    ViewBag.Title = "Sữa tươi Dutch Lady";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<div id="chitiet">
    <div class="p-1">
        @Html.Partial("Partial_left_milk")
    </div>
    <div class="p-2">
        <img class="pic1" src="~/Content/Images/Milk/milk4.jpg">
        <div class="p-2_1">
            @Html.Partial("Partial_infor_milk")
        </div>

        <div class="p-2_2">
            <h5 class="Infor">Thông tin sản phẩm</h5>
            <p>
                Sữa tiệt trùng Dutch Lady không đường
                là nguồn bổ sung canxi và protein dồi dào giúp cơ thể luôn khoẻ mạnh và tràn đầy năng lượng.
                Sữa có vị béo thơm, dễ uống, chứa nhiều canxi, vitamin B2, B12 và phốt pho
            </p>
            <ul class="table_Infor">
                <li>
                    <span>Loại sữa</span>
                    <div>Sữa tiệt trùng không đường</div>
                </li>
                
                <li>
                    <span>Dung tích</span>
                    <div>220ml</div>
                </li>
                
                <li>
                    <span>Thành phần</span>
                    <div>Nước, sữa tươi, bột sữa gầy, dầu thực vật, chất béo sữa, lactose, chất nhũ hoá (471), chất ổn định (407)</div>
                </li>
        
                <li>
                    <span>Thương hiệu</span>
                    <div>Dutch Lady (Hà Lan)</div>
                </li>
          
                <li>
                    <span>Sản xuất tại</span>
                    <div>Việt Nam</div>
                </li>
              
            </ul>
        </div>
    </div>



    <div class="p-3">
        <h1>Sữa tiệt trùng không đường Dutch Lady</h1>
        <h2>20.000 đồng</h2>
        <div class="sl">
            <h4>Số lượng</h4>
        </div>
        <h3>Xác nhận mua</h3>
        <div class="p-3_1">
            <h4>• Đặt online giao tận nhà ĐÚNG GIỜ</h4>
            <h4>• Đổi trả sản phẩm trong vòng 48 giờ</h4>
        </div>
    </div>

</div>

<div class="camket">
    <div>
        <img class="imgkc" src="~/Content/Images/Logo/clck.png" />
        <h1>Chất lượng cam kết</h1>
    </div>
    <div>
        <img class="imgkc" src="~/Content/Images/Logo/dvvt.png" />
        <h1>Dịch vụ vượt trội</h1>
    </div>
    <div>
        <img class="imgkc"  src="~/Content/Images/Logo/ghnc.png" />
        <h1>Giao hàng nhanh chóng</h1>
    </div>
    <div>
        <img class="imgkc" src="~/Content/Images/Logo/spat.png" />
        <h1>Sản phẩm an toàn</h1>
    </div>
</div>
