@model PagedList.IPagedList<BHX_2.Models.ListCart>
@using PagedList.Mvc

<link rel="stylesheet" href="~/Content/Mine/PagedList.css">


@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<h2>Sản phẩm</h2>
<div id="product_area">
    @{Html.RenderAction("GetPaging", "Cart", new { page = 1 });}
</div>
