@model BHX_2.Models.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="around">
    <h4>Chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    <a style="margin-left: 5%;text-decoration: none;font-size: 22px;color: blueviolet;font-weight: bold;" href="/Admin/UserIndex">Back to List</a>
</div>

<link rel="stylesheet" href="~/Content/Mine/Create.css">
<link href="~/Content/Mine/details.css" rel="stylesheet" />



