<link rel="stylesheet" type="text/css" href="~/Content/Mine/Site.css" />

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<body>
    <form class="form-login">
        <div class="loginbox">
            <img id="img-login" src="~/Content/Images/Logo/Logo_2.gif" />
            <h2>
                Forgot Password
            </h2>
            <div>
                <div class="div-title">
                    Username
                </div>
                <div>
                    <input class="input1" type="text" placeholder="Username" />
                </div>
                <div class="div-title">
                    Password
                </div>
                <div>
                    <input class="input1" type="text" placeholder="Password" />
                </div>
                <div style="text-align: center">
                    @Html.ActionLink("Sign up", "SignUp", "Login")
                </div>
                <input class="input-button" type="submit" name="Sign in" value="Sign in" />
                <input class="input-button" type="submit" name="Sign up" value="Sign up" />
            </div>
        </div>
    </form>
</body>

