<link rel="stylesheet" type="text/css" href="~/Content/Mine/Site.css" />

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<body>
    <form class="form-login" action="ForgotPassword" method="post">
        <div class="loginbox">
            <img id="img-login" src="~/Content/Images/Logo/Logo_2.gif" />
            <h2>
                Forgot Password
            </h2>
            <div>
                <div class="div-title">
                    Username
                </div>
                <div>
                    <input class="input1" type="text" placeholder="Username" />
                </div>
                <div class="div-title">
                    Password
                </div>
                <input class="input1" type="text" placeholder="Password" />
                <div class="div-title">
                    Password Again
                </div>
                <div>
                    <input class="input1" type="text" placeholder="Password Again" />
                </div>
                <input class="input-button" type="submit" name="ForgotPassword" value="Forgot Password" />
            </div>
        </div>
    </form>
</body>

