.inf {
    font-size: 20px;
    /* text-align: center; */
    margin-left: 7%;
    height: 46px;
    /* width: 39%; */
    border-bottom: 1px solid #80808036;
    line-height: 46px;
}

.inf ul{
    display: flex;
    /* background: #2b2b2b17; */
}

.inf ul li{
    list-style-type: none;
    padding-right: 40%;

}

.inf_s {
    font-size: 20px;
    /* text-align: center; */
    margin-left: 7%;
    height: 46px;
    /* width: 39%; */
    border-bottom: 1px solid #80808036;
    line-height: 46px;
}

.inf_s ul{
    display: flex;
    background: #2b2b2b17;
 

}

.inf_s ul li{
    list-style-type: none;
    padding-right: 40%;
   
}